<hlc-clr-wizard
    #wizard
    [pages]="pages"
    title="Create customer"
    [open]="true"
    [forceForwardNavigation]="true"
    [isInline]="true"
    (formsChanged)="onFormsChanged($event)"
>

    <ng-template hlcCustomField="skipStepHint">
        <hlc-clr-alert> You can skip this step by click Next button </hlc-clr-alert>
    </ng-template>

    <ng-template hlcCustomField="adminInfoCustomField">
        <hlc-clr-alert> If you choose to fill these fields, admin will be created: {{ wizard.formsValues?.adminEmailPage?.adminEmail }} </hlc-clr-alert>
    </ng-template>

    <ng-template hlcClrWizardCustomPage="adminExistsHintPage" let-vals>
        <hlc-clr-alert [canClose]="false">
            Admin with email {{ vals.adminEmailPage?.adminEmail }} already registered in the system it will be used as
            admin for new company.
        </hlc-clr-alert>
    </ng-template>
    <ng-template hlcClrWizardCustomPage="finishPage" let-vals let-context="context">
        <hlc-clr-alert [canClose]="false" alertType="success">
            Company &nbsp;<a [href]="context.companyId">{{ context.companyId }}</a> &nbsp; sucessfully created.
        </hlc-clr-alert>
    </ng-template>
</hlc-clr-wizard>
