<h2>FAQ</h2>

<table class="table table-noborder">
    <thead>
        <tr>
            <th>How do I ?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Define table columns</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-column?file=src/app/table.component.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Load data</td>
            <td>
                <hlc-sbx-example-link-button
                    title="Example 1"
                    href="https://stackblitz.com/edit/hlc-clr-list-data-provider-simple?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
                <hlc-sbx-example-link-button
                    title="Example 2"
                    href="https://stackblitz.com/edit/hlc-clr-list-data-provider?file=src/app/app.module.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Format cell values</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-column?file=src/app/table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Use custom components inside the table cell</td>
            <td>
                <hlc-sbx-example-link-button
                    title="Example 1"
                    href="https://stackblitz.com/edit/hlc-clr-list-custom-column?file=src/app/table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
                <hlc-sbx-example-link-button
                    title="Example 2"
                    href="https://stackblitz.com/edit/hlc-clr-list-custom-column-maps?file=src%2Fapp%2Ftable.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Define aggregate row</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-aggregate-row?file=src%2Fapp%2Fplanets-table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Define actions list for each row</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-row-actions?file=src/app/planets-table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Expand row with children</td>
            <td>
                <hlc-sbx-example-link-button
                    title="Example (columns)"
                    href="https://stackblitz.com/edit/hlc-clr-list-expand-row?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
                <hlc-sbx-example-link-button
                    title="Example (cards)"
                    href="https://stackblitz.com/edit/hlc-clr-list-expand-row-card?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Allow rows drag and drop</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-drag?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Select rows</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-selected-rows?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Manipulate rows inside the table</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-manipulate-rows?file=src/app/table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Use custom filters alongside with the table</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-filter?file=src/app/planets-table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Allow to select number of the rows per page</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-data-items-per-page?embed=1&file=src/app/app.module.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
    </tbody>
</table>
