<h2>FAQ</h2>

<table class="table table-compact table-noborder">
    <thead>
        <tr>
            <th class="left">How do I ?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">
                Define table columns
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-column?file=src/app/table.component.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="left">
                Load data
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    title="Example 1"
                    href="https://stackblitz.com/edit/hlc-clr-list-data-provider-simple?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    title="Example 2"
                    href="https://stackblitz.com/edit/hlc-clr-list-data-provider?file=src/app/app.module.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Format cell values
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-column?file=src/app/table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Use custom components inside the table cell
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    title="Example 1"
                    href="https://stackblitz.com/edit/hlc-clr-list-custom-column?file=src/app/table.component.ts"
                >
                    Example
                </hlc-sbx-example-link-button>
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    title="Example 2"
                    href="https://stackblitz.com/edit/hlc-clr-list-custom-column-maps?file=src%2Fapp%2Ftable.component.ts"
                >
                    Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Define aggregate row
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-aggregate-row?file=src%2Fapp%2Fplanets-table.component.ts"
                >
                    Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Define actions list for each row
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-row-actions?file=src/app/planets-table.component.ts"
                >
                    Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Expand row with children
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    title="Example (columns)"
                    href="https://stackblitz.com/edit/hlc-clr-list-expand-row?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    title="Example (cards)"
                    href="https://stackblitz.com/edit/hlc-clr-list-expand-row-card?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Allow rows drag and drop
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-drag?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Select rows
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-selected-rows?file=src/app/planets-table.component.ts"
                >
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Manipulate rows inside the table
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-manipulate-rows?file=src/app/table.component.ts"
                >
                    Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Use custom filters alongside with the table
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-filter?file=src/app/planets-table.component.ts"
                >
                    Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td class="left">
                Allow to select number of the rows per page
                <hlc-sbx-example-link-button
                    [linkLike]="true"
                    href="https://stackblitz.com/edit/hlc-clr-list-data-items-per-page?embed=1&file=src/app/app.module.ts"
                >
                    Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
    </tbody>
</table>
