<h2>FAQ</h2>

<table class="table table-noborder">
    <thead>
        <tr>
            <th>How do I ?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Manipulate rows inside the table</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-manipulate-rows?file=src/app/table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
        <tr>
            <td>Use custom filters alongside with the table</td>
            <td>
                <hlc-sbx-example-link-button
                    href="https://stackblitz.com/edit/hlc-clr-list-column?file=src/app/table.component.ts"
                    >Example
                </hlc-sbx-example-link-button>
            </td>
        </tr>
    </tbody>
</table>
