// datagrid-status
.datagrid-status {
    text-align: center;
}

// datagrid-status-default
.datagrid-status-default {
    color: $gray-dark-midtone;
}

// datagrid-status-success
.datagrid-status-success {
    color: $clr-btn-success-bg-color;
}

// datagrid-status-warning
.datagrid-status-warning {
    color: $clr-btn-warning-bg-color;
}
