// login
.login {
    .login-wrapper & {
        justify-content: flex-start;
        padding-top: 5rem;
    }
}

// login header
.login__header {
    margin-bottom: $clr-grid-gutter-width;
}

// login title
.login__title {
    margin: 0;

    &:not(:last-child) {
        margin-bottom: $clr-grid-gutter-width;
    }
}

// login subtitle
.login__subtitle {
    margin: 0;
}

// login separator
.login__separator {
    position: relative;
    margin: ($clr-grid-gutter-width * 1.5) auto;
    color: $gray-dark;
    font-weight: 500;
    font-size: $clr-typography-mediumtext;
    text-align: center;

    span {
        position: relative;
        z-index: map-get($clr-layers, alert);
        padding: 0 ($clr-grid-gutter-width / 2);

        &:before,
        &:after {
            @include layer(11px, auto, auto, auto);
            display: block;
            width: $clr-grid-gutter-width;
            border-top: 1px solid $gray-dark;
            content: '';
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }
    }
}
