// user-menu button
.user-menu__btn {
    &.dropdown-toggle.nav-text {
        .header .settings &,
        .header .header-actions & {
            padding-right: 1.3rem;
            padding-left: 0.8rem;
        }
    }

    &.dropdown-toggle:not(.btn) {
        &.active,
        &:hover,
        &:active {
            background: #F2F2F2;
        }
    }
}


// user-menu text
.user-menu__text {
    font-size: $clr-typography-mediumtext;
    vertical-align: middle;
}


// user-menu icon
.user-menu__icon {
    margin-right: 8px !important;
    font-size: $clr-h3-size;
    vertical-align: middle;
}
