@import 'assets/scss/vendor';
@import 'assets/scss/app';

// FIX for date
.date-input {
    height: 1.5rem;
    max-height: none;
    padding-left: 5px;
    font-size: 0.583333rem;
}

/* You can add global styles to this file, and also import other style files */
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
        background: #000000;
        opacity: 0.85 !important;
    }
}


.number-cell {
    display: initial!important;
    text-align: right!important;
}