// img-responsive
.img-responsive {
    @include img-responsive();
}

// img-responsive-height
.img-responsive-height {
    @include img-responsive-height();
}

.pt-3 {
    padding-top: 1rem;
}

.pl-5 {
    padding-left: 3rem;
}

.pr-5 {
    padding-right: 3rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.ml-auto {
    margin-left: auto;
}
