html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// headers
h1 {
    small {
        font-size: $clr-h4-size;
        line-height: 1;
    }
}

// links
a {
    font-weight: 400;

    &:focus {
        outline: none;
    }

    &[role = 'button'] {
        user-select: none;
    }
}

// paragraphs
p, p.p2, p.p3, p.p4, p.p5, p.p6, p.p7, p.p8 {
    body & {
        margin-top: 0;
        margin-bottom: $clr-grid-gutter-width;
    }
}
