html {
    width: 100%;
    height: 100%;
}
body {
    line-height: $clr-line-height;
    min-width: 320px;
    height: 100%;
    overflow-x: hidden;
    text-align: left;
}

// headers
h1 {
    margin-top: 0;
    margin-bottom: $clr-grid-gutter-width;
    font-size: $clr-h1-size;

    small {
        font-size: $clr-h4-size;
        line-height: 1;
    }
}
h2 {
    margin-top: 0;
    margin-bottom: $clr-grid-gutter-width;
    font-size: $clr-h2-size;
}
h3 {
    margin-top: 0;
    margin-bottom: $clr-grid-gutter-width;
    font-size: $clr-h3-size;
}
h4 {
    margin-top: 0;
    margin-bottom: $clr-grid-gutter-width;
    font-size: $clr-h4-size;
}
h5 {
    margin-top: 0;
    margin-bottom: $clr-grid-gutter-width;
    font-size: $clr-h5-size;
}
h6 {
    margin-top: 0;
    margin-bottom: $clr-grid-gutter-width;
    font-size: $clr-h6-size;
}

// links
a {
    font-weight: 400;

    &:focus {
        outline: none;
    }
    &[role='button'] {
        user-select: none;
    }
}

// paragraphs
p, p.p2, p.p3, p.p4, p.p5, p.p6, p.p7, p.p8 {
    body & {
        margin-top: 0;
        margin-bottom: $clr-grid-gutter-width;
    }
}
