@import 'global-vars';

:host ::ng-deep {
    clr-datagrid {
        height: 100%;
        .active-row {
            background-color: $gray-light;
        }
        div.datagrid:focus {
            .active-row {
                background-color: $gray-light-midtone;
            }
        }
    }
}
