<h1>NG-HOLISTIC / FORMS</h1>

Set of angular libraries which provide a way to relaiable build complex forms with minimal effort via declaration in js
objects. Every field of the form defined as a simple js object via simple rules. Here example of the form with text
input field.

<hlc-code-render-example>
    {{ pageSampleFormCode }}
    <page-sample-form render></page-sample-form>
</hlc-code-render-example>

<button class="btn btn-primary" [routerLink]="['/getting-started/install-packages']">Next: Install Packages</button>
