<hlc-main-layout [sideNavItems]="sideNavItems" [contentTemplate]="content">
    <hlc-main-header
        main-header
        [navLinks]="navLinks"
        [activeNavLinkIndex]="activeNavLinkIndex"
        title="NG-HOLISTIC / CLR-LIST"
    >
        <div actions class="header-actions">
            <a class="nav-link nav-icon" href="https://github.com/ng-holistic/platform" target="_blank"
                ><img class="nav-link-img" src="assets/images/github.png" />
            </a>
        </div>
    </hlc-main-header>
    <ng-template #content> <router-outlet></router-outlet> </ng-template>
</hlc-main-layout>
