<hlc-main-layout [sideNavItems]="sideNavItems" [contentTemplate]="content">
    <hlc-main-header
        main-header
        [navLinks]="navLinks"
        [activeNavLinkIndex]="activeNavLinkIndex"
        title="NG-HOLISTIC / CLR-LIST"
    >
        <div actions class="header-actions">
            <a class="nav-link nav-icon"> <clr-icon shape="cog"></clr-icon> </a>
        </div>
    </hlc-main-header>
    <ng-template #content> <router-outlet></router-outlet> </ng-template>
</hlc-main-layout>
