// btn-upper
.btn-upper {
    font-size: $clr-typography-xsmalltext;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

// btn-upper-sm
.btn-upper.btn-sm {
    font-size: $clr-typography-xxsmalltext;
    letter-spacing: 0.1em;
}

// btn-upper-lg
.btn-upper.btn-lg {
    font-size: $clr-typography-mediumtext;
    letter-spacing: 0.1em;
}
