$clr-default-button-properties-map: (
    default:
    (
        background-color: $gray-light,
        border-color: $gray-light,
        color: $gray-darkest,
        hover-background-color: $gray-lighter-midtone,
        hover-color: $gray-darkest,
        active-box-shadow-color: $gray-dark,
        active-box-shadow-width-top: 2px,
        disabled-color: $clr-form-disabled-color,
        disabled-background-color: $clr-form-disabled-background-color,
        disabled-border-color: $clr-form-disabled-background-color,
        checked-background-color: $gray-lighter-midtone,
        checked-color: $gray-darkest
    ),
    default-outline:
    (
        background-color: #FFFFFF,
        border-color: $gray-darkest,
        color: $gray-darkest,
        hover-background-color: $gray-light,
        hover-color: $black,
        active-box-shadow-color: $gray-light,
        active-box-shadow-width-top: 1px,
        disabled-color: $clr-form-disabled-color,
        disabled-background-color: #FFFFFF,
        disabled-border-color: $clr-form-disabled-color,
        checked-background-color: $gray-darkest,
        checked-color: $white
    ),
);

// btn-default
.btn.btn-default,
.btn-default .btn {
    @include populateButtonProperties(default, $clr-default-button-properties-map);
}

// btn-default-outline
.btn.btn-default-outline,
.btn.btn-outline-default,
.btn-default-outline .btn,
.btn-outline-default .btn {
    @include populateButtonProperties(default-outline, $clr-default-button-properties-map);
}
