// clr-textarea-wrapper
.clr-textarea-wrapper {
    margin-top: 0;
}

// clr-textarea
.clr-textarea {
    max-width: none;
    font-size: $clr-typography-regulartext;
    background: $clr-textarea-bg-color;
    border-radius: $clr-global-borderradius;
    transition: all 0.3s ease 0s;

    &:not([readonly]):not([disabled]) {
        &:focus {
            @include include-outline-style-form-fields($clr-outline-color, $clr-outline-blur, $clr-outline-spread);
            border-width: 1px;
            border-color: $clr-forms-focused-color;
        }
    }

    &[readonly],
    &[disabled] {
        color: $clr-form-disabled-color;
        background: $clr-form-disabled-background-color;
        border-color: $clr-form-disabled-background-color;
        opacity: $clr-forms-disabled-opacity;
        opacity: 1 !important;

        &:focus {
            box-shadow: none;
        }
    }

    .clr-control-container & {
        width: 100%;
    }
}

/*
 * Textarea Sizing
 */
// clr-textarea-sm
.clr-textarea {
    .clr-form-control-sm & {
        font-size: $clr-typography-xsmalltext;
    }
}

// clr-textarea-lg
.clr-textarea {
    .clr-form-control-lg & {
        font-size: $clr-typography-largetext;
    }
}
