// clr-select & clr-multiselect
.clr-select-wrapper,
.clr-multiselect-wrapper {
    display: block;

    select {
        width: 100%;
        height: $clr-button-height;
        padding: 0 ($clr-forms-select-caret-size + $clr-forms-baseline * 2) 0 ($clr-forms-baseline / 2);
        font-size: $clr-typography-regulartext;
        background: $clr-forms-textarea-background-color;
        transition: all 0.3s ease 0s;

        &:focus {
            @include include-outline-style-form-fields($clr-outline-color, $clr-outline-blur, $clr-outline-spread);
            z-index: 3;
            border-color: $clr-forms-focused-color;
        }

        &:hover,
        &:active {
            border-color: $clr-forms-focused-color;
        }

        &[readonly],
        &[disabled] {
            padding: 0 ($clr-forms-select-caret-size + $clr-forms-baseline * 2) 0 $clr-forms-baseline;
            color: $clr-form-disabled-color;
            background: $clr-form-disabled-background-color;
            border-color: $clr-form-disabled-background-color;
            opacity: 1;

            &:hover,
            &:active {
                background: $clr-form-disabled-background-color;
                border-color: $clr-form-disabled-background-color;
            }
        }
    }
}

// clr-select
.clr-select-wrapper {
    max-height: none;

    &:after {
        top: ($clr-button-height - $clr-dropdown-caret-icon-dimension) / 2;
        z-index: 3;
    }
}

// clr-multiselect
select[multiple],
select[size] {
    z-index: 4;
    height: auto !important;
    padding: 0;
    border: none;
    @include form-fields-appearance($clr-forms-border-color);

    &:focus {
        z-index: 4;
    }

    option {
        padding: 0.125rem $clr-forms-baseline;
    }
}

/*
 * Selects Sizing
 */
// clr-select-sm
.clr-select-wrapper,
.clr-multiselect-wrapper {
    select {
        .clr-form-control-sm & {
            height: $clr-button-height-sm;
            font-size: $clr-typography-xsmalltext;
        }
    }

    &:after {
        .clr-form-control-sm & {
            top: ($clr-button-height-sm - $clr-dropdown-caret-icon-dimension) / 2;
        }
    }
}

// clr-select-lg
.clr-select-wrapper,
.clr-multiselect-wrapper {
    select {
        .clr-form-control-lg & {
            height: $clr-button-height-lg;
            font-size: $clr-typography-largetext;
        }
    }

    &:after {
        .clr-form-control-lg & {
            top: ($clr-button-height-lg - $clr-dropdown-caret-icon-dimension) / 2;
        }
    }
}
