// clr-input-wrapper
.clr-input-wrapper {
    max-height: none;
}

// clr-input
.clr-input {
    height: $clr-button-height;
    max-height: none;
    padding: 0 ($clr-forms-baseline / 2);
    font-size: $clr-typography-regulartext;

    &:not([readonly]):not([disabled]) {
        transition: all 0.3s ease 0s;

        &:focus {
            border-color: $clr-forms-focused-color;
        }
    }

    &[readonly],
    &[disabled] {
        padding: 0 $clr-forms-baseline;
        color: $clr-form-disabled-color;
        background: $clr-form-disabled-background-color;
        border-color: $clr-form-disabled-background-color;
        opacity: $clr-forms-disabled-opacity;
    }

    .clr-control-container & {
        width: 100%;
    }
}

// clr-input-error
.clr-input:not([readonly]):not([disabled]) {
    .clr-error & {
        background: $clr-forms-textarea-background-color;
        border-color: $clr-forms-invalid-color;
        transition: all 0.3s ease 0s;

        &:focus {
            border-color: $clr-forms-focused-color;
        }
    }
}

// placeholder
input,
textarea {
    &::placeholder {
        color: $gray-dark-midtone;
        font-style: italic;
    }
}

// input-autocomplete
input {
    &:-webkit-autofill {
        &,
        &:hover,
        &:focus {
            box-shadow: 0 0 0px 1000px $clr-textarea-bg-color inset;
            transition: background-color 5000s ease 0s;
            -webkit-text-fill-color: $clr-input-text-color;
        }
    }
}

/*
 * Inputs Sizing
 */
// clr-input-sm
.clr-input {
    .clr-form-control-sm & {
        height: $clr-button-height-sm;
        font-size: $clr-typography-xsmalltext;
    }
}

// clr-input-lg
.clr-input {
    .clr-form-control-lg & {
        height: $clr-button-height-lg;
        font-size: $clr-typography-largetext;
    }
}
