<hlc-main-layout [sideNavItems]="sideNavItems" [contentTemplate]="content">
    <hlc-main-header
        main-header
        [navLinks]="navLinks"
        [titleHref]="titleHref"
        [activeNavLinkIndex]="activeNavLinkIndex"
        title="NG-HOLISTIC / CLR-FORMS"
    >
        <div actions class="header-actions">
            <a class="nav-link nav-icon" (click)="onConfig()"> <clr-icon shape="cog"></clr-icon> </a>
            <a class="nav-link nav-icon" style="padding-top: 17px;" href="https://github.com/scalio/ng-holistic" target="_blank"
                ><img class="nav-link-img" src="assets/images/github.png" />
            </a>

        </div>
    </hlc-main-header>
    <ng-template #content>
        <router-outlet></router-outlet>
    </ng-template>
</hlc-main-layout>
