// clr 1 styles
// @import '~@clr/ui/src/utils/dependencies.clarity';


// clr 2 styles
$gray-light: lightgrey;
$clr-modal-bg-color: white;
$gray-light-midtone: lightgrey;
$clr-global-borderradius: 0;
$clr-modal-content-padding-top: 10px;
$clr-modal-content-padding-left: 10px;
$clr-modal-content-padding-right: 10px;
$clr-modal-content-padding-bottom: 10px;
$clr-modal-content-box-shadow-color: darkgrey;

$clr-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;