@import '~@clr/ui/src/utils/dependencies.clarity';

:host ::ng-deep {
    clr-datagrid {
        height: 100%;
        .active-row {
            background-color: $gray-light;
        }
        div.datagrid:focus {
            .active-row {
                background-color: $gray-light-midtone;
            }
        }
    }
}

:host ::ng-deep {
    .title {
        font-style: italic;
    }

    .highlight {
        color: red;
    }
}
