@import "~@clr/ui/src/utils/dependencies.clarity";

:host ::ng-deep {
    clr-datagrid {
        height: 95%;
        .active-row {
            background-color: $gray-light;
        }
    }
    clr-datagrid:focus {
        .active-row {
            background-color: $gray-light-midtone;
        }
    }

}
