<hlc-sbx-render-def-code-example [useDefaultCode]="false">
    <hlc-box render>
        <button box-header class="btn" style="margin-top: 10px" (click)="onAddRow()">Add Row</button>
        <hlc-clr-table
            box-content
            [definition]="definition"
            [dataProvider]="dataProvider"
            [rowSelectable]="true"
            (cellClick)="onRowEvent($event)"
        >
            <ng-template hlcClrCustomCell="custom" let-row="row"> # {{ row['id'] }} </ng-template>
        </hlc-clr-table>
    </hlc-box>
    <ng-container definition>{{ _definition }}</ng-container>
    <ng-container code>{{ code }}</ng-container>
</hlc-sbx-render-def-code-example>
