// headers
$clr-h1: (
    clr-common: (
        font-family: $clr-headings-font-family,
        font-size: $clr-h1-size,
        font-weight: 700,
        color: $clr-h1-color,
        letter-spacing: $clr-kerning-bigtext,
        line-height: $clr-headings-line-height,
        margin-top: 0,
        margin-bottom: 1rem,
    ),
);

$clr-h2: (
    clr-common: (
        font-family: $clr-headings-font-family,
        font-size: $clr-h2-size,
        font-weight: 500,
        color: $clr-h2-color,
        letter-spacing: $clr-kerning-bigtext,
        line-height: $clr-headings-line-height,
        margin-top: 0,
        margin-bottom: 1rem,
    ),
);

$clr-h3: (
    clr-common: (
        font-family: $clr-headings-font-family,
        font-size: $clr-h3-size,
        font-weight: 300,
        color: $clr-h3-color,
        letter-spacing: $clr-kerning-bigtext,
        line-height: $clr-headings-line-height,
        margin-top: 0,
        margin-bottom: 1rem,
    ),
);

$clr-h4: (
    clr-common: (
        font-family: $clr-headings-font-family,
        font-size: $clr-h4-size,
        font-weight: 300,
        color: $clr-h4-color,
        letter-spacing: $clr-kerning-bigtext,
        line-height: $clr-headings-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);

$clr-h5: (
    clr-common: (
        font-family: $clr-headings-font-family,
        font-size: $clr-h5-size,
        font-weight: 400,
        color: $clr-h5-color,
        letter-spacing: $clr-kerning-bigtext,
        line-height: $clr-headings-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);

$clr-h6: (
    clr-common: (
        font-family: $clr-headings-font-family,
        font-size: $clr-h6-size,
        font-weight: 500,
        color: $clr-h6-color,
        letter-spacing: $clr-kerning-smalltext,
        line-height: $clr-headings-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);

// Paragraphs
$clr-p0: (
    clr-common: (
        font-size: 0.833333rem,
        font-weight: 300,
        letter-spacing: normal,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);
$clr-p1: (
    clr-common: (
        font-size: $clr-typography-regulartext,
        font-weight: 400,
        color: $clr-p1-color,
        letter-spacing: $clr-kerning-lotsatext,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);
$clr-p2: (
    clr-common: (
        font-size: $clr-typography-smalltext,
        font-weight: 500,
        color: $clr-p2-color,
        letter-spacing: $clr-kerning-smalltext,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);
$clr-p3: (
    clr-common: (
        font-size: $clr-typography-smalltext,
        font-weight: 400,
        color: $clr-p3-color,
        letter-spacing: $clr-kerning-smalltext,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);
$clr-p4: (
    clr-common: (
        font-size: $clr-typography-xsmalltext,
        font-weight: 700,
        color: $clr-p4-color,
        letter-spacing: $clr-kerning-smalltext,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);
$clr-p5: (
    clr-common: (
        font-size: $clr-typography-xsmalltext,
        font-weight: 400,
        color: $clr-p5-color,
        letter-spacing: $clr-kerning-smalltext,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);
$clr-p6: (
    clr-common: (
        color: $clr-p6-color,
        font-weight: 700,
        font-size: $clr-typography-xxsmalltext,
        letter-spacing: $clr-kerning-tinytext,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);
$clr-p7: (
    clr-common: (
        font-size: $clr-typography-xxsmalltext,
        font-weight: 400,
        color: $clr-p7-color,
        letter-spacing: $clr-kerning-tinytext,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);
$clr-p8: (
    clr-common: (
        font-size: $clr-typography-tinytext,
        font-weight: 400,
        color: $clr-p8-color,
        letter-spacing: $clr-kerning-tinytext,
        line-height: $clr-line-height,
        margin-top: 0,
        margin-bottom: 0.5rem,
    ),
);

//Element Properties Map
$clr-elements: (
    h1: $clr-h1,
    h2: $clr-h2,
    h3: $clr-h3,
    h4: $clr-h4,
    h5: $clr-h5,
    h6: $clr-h6,
    p0: $clr-p0,
    p1: $clr-p1,
    p2: $clr-p2,
    p3: $clr-p3,
    p4: $clr-p4,
    p5: $clr-p5,
    p6: $clr-p6,
    p7: $clr-p7,
    p8: $clr-p8,
);

// DOM-Properties map
$clr-typography-dom-to-type-element: (
    alert-small_text: p4,
    alert_text: p3,
    card_link: p6,
    card_text: p1,
    card_title: h4,
    datagrid_placeholder: h5,
    datagrid_column_toggle_title: h5,
    dropdown_text: p1,
    dropdown_header: p4,
    form_label: p2,
    form_subtext: p6,
    form_block_label: h5,
    form_group_fields: p3,
    label_text: p7,
    login_productName: h1,
    login_subtitle: h3,
    login_trademark: h2,
    modal_header: h2,
    nav_title: h5,
    page_introParagraph: h5,
    page_bodyText: p1,
    page_mainHeading: h2,
    page_secondaryHeading: h3,
    page_sectionHeader: h5,
    page_tertiaryHeading: h4,
    sidenav_sectionHeader: h6,
    sidenav_text: p1,
    stackview_header: p2,
    stackview_text: p3,
    tab_text: p1,
    table_header: p6,
    table_text: p3,
    toc_header: h6,
    toc_text: p1,
    tooltip_text: p3,
    vertical_nav_header: p4,
);
