<h1>Wellcome to Ng-Holistic project</h1>

<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-4">
        <a href="http://lol" class="card clickable">
            <div class="card-header">Forms</div>
            <div class="card-block">
                <p class="card-text">
                    Define layouts, wizards, controls declaratively, easily manage input's complex behaviour
                </p>
            </div>
        </a>
    </div>
    <div class="clr-col-lg-4 clr-col-4">
        <a href="http://lol" class="card clickable">
            <div class="card-header">Lists</div>
            <div class="card-block">
                <p class="card-text">
                    Define lists, filters and their properties such as exapndable and selectable rows declaratively
                </p>
            </div>
        </a>
    </div>

    <div class="clr-col-lg-4 clr-col-4">
        <a href="http://lol" class="card clickable">
            <div class="card-header">Other</div>
            <div class="card-block">
                <p class="card-text">Modals, overlays and over utilities</p>
                &nbsp;
            </div>
        </a>
    </div>
</div>

<h2>What is it ?</h2>

Set of angular libraries to facilitate development of data driven applications

<h2>When it could be usefull ?</h2>

<ul>
    <li>For back office applications</li>
    <li>For CRM like applications</li>
    <li>In general when application contains a lot of lists, forms, input fields</li>
    <li>Projects with dynamic forms</li>
</ul>

<h2>How it could help ?</h2>

<ul>
    <li>Define forms declaratively via js objects</li>
    <li>Define form complex layouts declaratively</li>
    <li>Define complex behaviour of the input fields via Observable properties</li>
    <li>Extend predefined set of inputs / layouts via configuration</li>
    <li>Create wizards declaratively</li>
    <li>Create lists including filter toolbox declaratively</li>
    <li>Other utilitise such as modals and overlays</li>
</ul>

<h2>Other features</h2>

<ul>
    <li>
        Default UX presentation layer implemented with
        <a href="https://clarity.design" target="_blank">clarity</a> design system
    </li>
    <li>Extensible and configurable</li>
    <li>Its just angular libraries use where you need it alongside with you usual project implementation</li>
</ul>
