<h1>HOME</h1>

<h2>Reasoning</h2>

<p>
    The purpose of this library is allow developers to create components (data lists in particular) not by implementing
    them with html, styles and code but by describing (defining) them. Then it is concern of the UX librariry to
    generate these components, this way we effectively separate core (business) logic of the application from the UI
    impelmentation.
</p>

<h2>Tables and lists</h2>

<p>With help of this library you define (describe) the data list representation with following features</p>
<ul>
    <li>
        Define <a [routerLink]="['/docs', 'table-definition']" fragment="cols_property">columns</a>
        <ul>
            <li>
                Define <a [routerLink]="['/docs', 'column-definition']" fragment="title_property">title</a> of the
                column
            </li>
            <li>
                Define data <a [routerLink]="['/docs', 'column-definition']" fragment="bind_property">binding</a> to the
                rows values
            </li>
            <li>
                Define if columns <a [routerLink]="['/docs', 'column-definition']" fragment="sort_property">sortable</a>
            </li>
            <li>
                Provide column value
                <a [routerLink]="['/docs', 'column-definition']" fragment="format_property">formatter</a>
            </li>
            <li>
                Define <a [routerLink]="['/docs', 'column-definition']" fragment="cls_property">classes</a> to apply to
                the columns
            </li>
            <li>
                Provide <a [routerLink]="['/docs', 'configure-column-definition-map']">interface</a> to generate custom
                components inside the columns
            </li>
        </ul>
    </li>
    <li>Define <a [routerLink]="['/docs', 'list']">filters</a></li>
    <li>Define <a [routerLink]="['/docs', 'table-definition']" fragment="sort_property">default sort</a> column</li>
    <li>
        Define <a [routerLink]="['/docs', 'table-definition']" fragment="row_actions_property">row actions</a> for rows
    </li>
    <li>
        Deine <a [routerLink]="['/docs', 'table-definition']" fragment="aggregate_row_property">aggregation</a> row
    </li>
    <li>Deine <a [routerLink]="['/docs', 'table-definition']" fragment="selected_rows_proeprty">selectable</a> rows mode</li>
    <li>
        Define <a [routerLink]="['/docs', 'table-definition']" fragment="details_property">expandable</a> children rows
        section for rows
    </li>
    <li>Deine <a [routerLink]="['/docs', 'table-definition']" fragment="drag_enabled_property">drag and drop</a> mode</li>
</ul>

<h2>Benefits</h2>

<p>
    The major benefits from using this library could achive large data driven applications with a lot of tables and
    lists. Using this library you could easily and reliable describe desired table representations without concern how
    these data will be rendered. Library provides strict set of API (aka description DSL) to render UI components, this
    allows large teams to stay sync on how to create and use data lists inside application, no need to copy / paste html
    css code when create new components or invent some base classes which abstracts common list implementation for the
    application.
</p>
