@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/cdk/a11y-prebuilt.css';

@import "~@ng-select/ng-select/themes/default.theme.css";

pre {
    border: 0!important;
    max-height: 100%!important;
}


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
        background: #000;
        opacity: 0.85 !important;
    }
}
