// @import 'assets/scss/vendor';
// @import 'assets/scss/app';
@import "~@ng-select/ng-select/themes/default.theme.css";

pre {
    border: 0!important;
    max-height: 100%!important;
}

/* You can add global styles to this file, and also import other style files */
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
        background: #000;
        opacity: 0.85 !important;
    }
}
