@import 'assets/scss/vendor';
@import 'assets/scss/app';

// clr-vertical-nav
.clr-vertical-nav {
    border-right: solid 1px $clr-vertical-nav-border-color;
}

/* You can add global styles to this file, and also import other style files */
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
        background: #000;
        opacity: 0.85 !important;
    }
}
