<h1>Install Packages</h1>

<div>Add <a href="https://clarity.design/documentation/get-started" target="_blank">Clarity</a> to the project</div>

<div>Install required Ng-Holistic packages</div>

<pre>
    <code hlc-code-highlight="ts">
        npm i @ng-holistic/forms @ng-holistic/clr-controls @ng-holistic/clr-file-upload @ng-holistic/clr-common @ng-holistic/clr-forms --save
    </code>
</pre>

<div>Add holistic forms module to application</div>

<pre>
    <code hlc-code-highlight="ts">
        {{ addModuleCode }}
    </code>
</pre>

<button class="btn btn-primary" [routerLink]="['/getting-started/first-form']">Next: First Form</button>
