<h1>Install Packages</h1>

<div>Add <a href="https://clarity.design/documentation/get-started" target="_blank">Clarity</a> to Project</div>

<div>Install Required Ng-Holistic packages</div>

<pre>
    <code hlc-code-highlight="ts">
        npm i @ng-holistic/forms @ng-holistic/clr-controls @ng-holistic/clr-file-upload @ng-holistic/clr-common @ng-holistic/clr-forms --save
    </code>
</pre>

<div>Add Holistic Forms Module to application</div>

<pre>
    <code hlc-code-highlight="ts">
        {{ addModuleCode }}
    </code>
</pre>
