<h1>Install Packages</h1>

<h3>Add clarity</h3>

<br/>

<a href="https://clarity.design/documentation/get-started" target="_blank">Clarity instalation instructions</a>

<br/>
<small>Note for Russian users - use VPN, clarity documentation often blocked</small>
<h3>Install required Ng-Holistic packages</h3>

<clr-code-snippet [clrCode]="installPackages">
</clr-code-snippet>

<h3>Add holistic forms module to application</h3>

<clr-code-snippet [clrCode]="addModuleCode">
</clr-code-snippet>

<button class="btn btn-primary" [routerLink]="['/getting-started/first-form']">Next: First Form</button>
